<ion-header>
  <ion-toolbar color="light">
    <ion-title>Avaliação Formadora - Competência I</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <img alt="Foto" src="/assets/image/rosto.jpg" />
  <ion-card-header>
    <ion-card-title>Vinicius dos Santos Queiroz</ion-card-title>
    <ion-card-subtitle><p>Desenvolvimento de Aplicativos Mobile</p>
      <p>Turma:|BG|N|ADS0301N</p></ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Estudante de Graduação em Análise e Desenvolvimento de Sistemas.
  </ion-card-content>
</ion-card>

<ion-footer>
  <ion-toolbar>
    <ion-title>https://github.com/viniciusbrrio</ion-title>
  </ion-toolbar>
</ion-footer>
